.commName{
    margin-left: 10px;
}    

.commType{
    margin-left: 18px;
}

.commMax{
    margin-left: 38px;
}

.comm1{
    margin-left: 10px;
}

.showall{
    margin-left: 5px;
}

.clear{
    margin-left: 5px;
}

.heyhey{
    margin-left: 5px;
}